{% extends 'base.html' %}
{% load static %}
{% block main %}

    <!-- ============================================== HEADER : END ============================================== -->
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="{% url 'home:home' %}">صفحه اصلی</a></li>
                    <li class="active">وبلاگ</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->

    <div class="body-content">
        <div class="container">
            <div class="row">
                <div class="blog-page">
                    <div class="col-xs-12 col-sm-9 col-md-9 rht-col">
                        {% for blog in blogs %}
                        	<div class="blog-post  wow fadeInUp">
                            <a href="{% url 'blog:blog_detail' blog.slug %}"><img class="img-responsive"
                                                             src="{{ blog.featured_image.url }}" alt=""></a>
                            <h1><a href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.seo_title }}</a></h1>
                            <span class="author">{{ blog.user.username }}</span>
                            <span class="review">6 نظر </span>
                            <span class="date-time">{{ blog.create_updated_at }}</span>
                            <p>{{ blog.meta_description }}</p>
                            <a href="{% url 'blog:blog_detail' blog.slug %}" class="btn btn-upper btn-primary read-more">ادامه مطلب</a>
                        </div>
                        {% endfor %}


                        <div class="clearfix filters-container bottom-row">
                            <div class="text-right">
                                <div class="pagination-container" style="margin-right: 400px">
                                    <ul class="list-inline list-unstyled">
                                        {% if page_obj.has_previous %}
                                            <li class="prev"><a href="?page={{ page_obj.previous_page_number }}"><i
                                                    class="fa fa-angle-right"></i></a></li>
                                        {% endif %}
                                        {% for number in page_obj.paginator.page_range %}
                                            {% if page_obj.number == number %}
                                                <li class="active"><a href="?page={{ number }}">{{ number }}</a></li>
                                            {% else %}
                                                <li><a href="?page={{ number }}">{{ number }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="next"><a href="?page={{ page_obj.next_page_number }}"><i
                                                    class="fa fa-angle-left"></i></a></li>
                                        {% endif %}
                                    </ul>
                                    <!-- /.list-inline -->
                                </div>
                                <!-- /.pagination-container --> </div>
                            <!-- /.text-right -->

                        </div><!-- /.filters-container -->                </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 sidebar">


                        <div class="sidebar-module-container">
                            <div class="search-area outer-bottom-small">
                                <form>
                                    <div class="control-group">
                                        <input placeholder="برای جستجو تایپ کنید" class="search-field">
                                        <a href="#" class="search-button"></a>
                                    </div>
                                </form>
                            </div>

                            <div class="home-banner outer-top-n outer-bottom-xs">
                                <img src="{% static 'images/banners/LHS-banner.jpg' %}" alt="تصویر">
                            </div>
                            <!-- ==============================================CATEGORY============================================== -->
                            <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
                                <h3 class="section-title">دسته بندی</h3>
                                <div class="sidebar-widget-body m-t-10">
                                    <div class="accordion">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseOne" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">
                                                    دوربین
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">بازی</a></li>
                                                        <li><a href="#">دفتر</a></li>
                                                        <li><a href="#">بچه ها</a></li>
                                                        <li><a href="#">برای خانم ها</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseTwo" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">
                                                    دسکتاپ ها
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">بازی</a></li>
                                                        <li><a href="#">دفتر</a></li>
                                                        <li><a href="#">بچه ها</a></li>
                                                        <li><a href="#">برای خانم ها</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseThree" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">
                                                    شلوار
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseThree"
                                                 style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">بازی</a></li>
                                                        <li><a href="#">دفتر</a></li>
                                                        <li><a href="#">بچه ها</a></li>
                                                        <li><a href="#">برای خانم ها</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseFour" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">
                                                    کیسه ها
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseFour" style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">بازی</a></li>
                                                        <li><a href="#">دفتر</a></li>
                                                        <li><a href="#">بچه ها</a></li>
                                                        <li><a href="#">برای خانم ها</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseFive" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">
                                                    کلاه
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseFive" style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">بازی</a></li>
                                                        <li><a href="#">دفتر</a></li>
                                                        <li><a href="#">بچه ها</a></li>
                                                        <li><a href="#">برای خانم ها</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseSix" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">
                                                    تجهیزات جانبی
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseSix" style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">بازی</a></li>
                                                        <li><a href="#">دفتر</a></li>
                                                        <li><a href="#">بچه ها</a></li>
                                                        <li><a href="#">برای خانم ها</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                    </div><!-- /.accordion -->
                                </div><!-- /.sidebar-widget-body -->
                            </div><!-- /.sidebar-widget -->
                            <!-- ============================================== CATEGORY : END ============================================== -->
                            <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
                                <h3 class="section-title">ویجت برگه</h3>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#popular" data-toggle="tab">پست محبوب</a></li>
                                    <li><a href="#recent" data-toggle="tab">پست اخیر</a></li>
                                </ul>
                                <div class="tab-content" style="padding-left:0">
                                    <div class="tab-pane active m-t-20" id="popular">
                                        <div class="blog-post inner-bottom-30 ">
                                            <img class="img-responsive" src="{% static 'images/blog-post/blog_big_01.jpg' %}"
                                                 alt="">
                                            <h4><a href="blog-details.html">پست وبلاگ ساده</a></h4>
                                            <span class="review">6 نظر</span>
                                            <span class="date-time"> 12/06/16</span>
                                            <p>فروش ویژه برای همه مشتریان عزیز</p>

                                        </div>
                                        <div class="blog-post">
                                            <img class="img-responsive" src="{% static 'images/blog-post/blog_big_02.jpg' %}"
                                                 alt="">
                                            <h4><a href="blog-details.html">پست وبلاگ ساده</a></h4>
                                            <span class="review">6 نظر</span>
                                            <span class="date-time"> 23/06/16</span>
                                            <p>فروش ویژه برای همه مشتریان عزیز</p>

                                        </div>
                                    </div>

                                    <div class="tab-pane m-t-20" id="recent">
                                        <div class="blog-post inner-bottom-30">
                                            <img class="img-responsive" src="{% static 'images/blog-post/blog_big_03.jpg' %}"
                                                 alt="">
                                            <h4><a href="blog-details.html">پست وبلاگ ساده</a></h4>
                                            <span class="review">6 نظر</span>
                                            <span class="date-time"> 5/06/16</span>
                                            <p>فروش ویژه برای همه مشتریان عزیز</p>

                                        </div>
                                        <div class="blog-post">
                                            <img class="img-responsive" src="{% static 'images/blog-post/blog_big_01.jpg' %}"
                                                 alt="">
                                            <h4><a href="blog-details.html">پست وبلاگ ساده</a></h4>
                                            <span class="review">6 نظر</span>
                                            <span class="date-time"> 10/07/16</span>
                                            <p>فروش ویژه برای همه مشتریان عزیز</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================== PRODUCT TAGS ============================================== -->
                            <div class="sidebar-widget product-tag wow fadeInUp">
                                <h3 class="section-title">برچسب های محصول</h3>
                                <div class="sidebar-widget-body outer-top-xs">
                                    <div class="tag-list">
                                        <a class="item" title="تلفن" href="category.html"></a>
                                        <a class="item active" title="جلیقه" href="category.html">جلیقه </a>
                                        <a class="item" title="Phone" href="category.html">تلفن </a><a class="item"
                                                                                                       title="Furniture"
                                                                                                       href="category.html">مبل </a><a
                                            class="item" title="گوشی های هوشمند" href="category.html">تلفن هوشمند </a>
                                        <a class="item" title="T-shirt" href="category.html">تی شرت </a><a class="item"
                                                                                                           title="Sweatpants"
                                                                                                           href="category.html">شلوار </a><a
                                            class="item" title="Sneaker" href="category.html">ورزشی کتانی اسباب </a><a
                                            class="item" title="Toys" href="category.html">بازی </a><a class="item"
                                                                                                       title="Rose"
                                                                                                       href="category.html">رز</a><a
                                            class="item" title="مبلمان" href="category.html"></a>
                                        <a class="item" title="تی شرت" href="category.html"></a>
                                        <a class="item" title="شلوار گرمکن" href="category.html"></a>
                                        <a class="item" title="کفش ورزشی" href="category.html"></a>
                                        <a class="item" title="اسباب بازی" href="category.html"></a>
                                        <a class="item" title="گل سرخ" href="category.html"></a>
                                    </div><!-- /.tag-list -->
                                </div><!-- /.sidebar-widget-body -->
                            </div><!-- /.sidebar-widget -->
                            <!-- ============================================== PRODUCT TAGS : END ============================================== -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================== BRANDS CAROUSEL ============================================== -->
            <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
        </div>
    </div>

{% endblock %}